{
    "1337": {
        "ignore": true,
        "reason": "Ignored since we don't use xxx method",
        "expiry": 1615462134681
    },
    "4501": {
        "ignore": false,
        "reason": "Ignored since we don't use xxx method"
    },
    "980": "Ignored since we don't use xxx method",
    "Note": "Any non number key will be ignored"
}